.gitattributes export-ignore
.gitignore export-ignore
.phpunit.xml export-ignore
tests/ export-ignore export-ignore
fixtures/ export-ignore
src/MysqlDbFixture.php export-ignore
src/DbFixture_TestCase.php export-ignore